!
! Generated ASA configuration for {{ inventory_hostname }}
hostname {{ inventory_hostname }}

interface GigabitEthernet0/0
 nameif outside
 security-level 0
 ip address {{ hostvars[inventory_hostname].outside_ip | default('dhcp') }} 

interface GigabitEthernet0/1
 nameif inside
 security-level 100
 ip address {{ hostvars[inventory_hostname].inside_ip | default('192.168.{{ inventory_hostname | regex_replace('[^0-9]', '') | default('10') }}.1') }} 255.255.255.0

object network LOCAL_MGMT
 host {{ hostvars[inventory_hostname].mgmt_ip | default(ansible_host) }}

access-list outside_access_in extended permit tcp any object LOCAL_MGMT eq 22

username {{ hostvars[inventory_hostname].admin_user | default('admin') }} password {{ hostvars[inventory_hostname].admin_pass | default('CHANGE_ME') }} privilege 15

write memory
