!
! Generated IOS configuration for {{ inventory_hostname }}
hostname {{ inventory_hostname }}

interface GigabitEthernet0/0
 description to-WAN
 ip address {{ hostvars[inventory_hostname].wan_ip | default(ansible_host) }} 255.255.255.0

interface GigabitEthernet0/1
 description to-LAN
 ip address {{ hostvars[inventory_hostname].lan_ip | default('10.0.' + (inventory_hostname | regex_replace('[^0-9]', '')) + '.1') }} 255.255.255.0

ip route 0.0.0.0 0.0.0.0 {{ hostvars[inventory_hostname].gw | default('192.168.1.1') }}

username {{ hostvars[inventory_hostname].admin_user | default('admin') }} privilege 15 secret {{ hostvars[inventory_hostname].admin_pass | default('CHANGE_ME') }}

end
